<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ROOMMATE</a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="RoomFinder()">Roomfinder-List</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>      
    </div>
    <button class="btn btn-outline-success" type="submit" (click)="crudApi.SignOut()">Logout</button>
  </div>
</nav>

<!-- <mat-card>
    <mat-card-content>
      <div class="header">
        <P> Room Finder</P>
      </div>
      <form name="">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Location</mat-label>
            <input
              matInput
              type="text"
              placeholder="Enter Location" required
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Rent</mat-label>
            <input matInput type="text" required />
        </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Number of member</mat-label>
            <input matInput type="text" required />
        </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Gender Requirement</mat-label>
            <input matInput type="text" required />
        </mat-form-field>
        </div>


        <button mat-flat-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card> -->

  <mat-card>
    <div class="pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">RoomFinder</h2>
    </div>
    
    <form [formGroup]="roomfinderForm" (ngSubmit)="submitStudentData()" novalidate>
      
        
          <div class="row">
    
            <div  class="col-md-12 mb-3">
              
              <label>Address</label>
              <input type="text" formControlName="location" class="form-control" required>
    
            </div>
    
            <div class="col-md-12 mb-3">
              <label>Rent</label>
              <input type="text" formControlName="rent" class="form-control">
            </div>
    
          </div>
    
          <div class="row">
            <div class="col-md-12 mb-3">
              <label>Member</label>
              <input type="text" formControlName="member" class="form-control" required>
    
             
            </div>
    
            <div class="col-md-12 mb-3">
              <label>Gender</label>
              <input type="text" formControlName="gender" class="form-control" required>
    
             
            </div>
    
          </div>
    
          <div class="form-group text-center">
            <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
            <button type="submit" class="btn btn-success gap-right" [disabled]="!roomfinderForm.valid">Add RoomFinder</button>
          </div>
    </form>

  </mat-card>